.l-word {
  display: flex;
  flex: 1;
}

.l-description {
  display: flex;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .l-word {
    display: flex;
    flex: none;
    width: 20%;
  }

  .l-description {
    display: flex;
    flex: none;
    width: 80%;
  }
}

.l-row-like {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
}

.l-alphabets-container {
  display: flex;
  flex-wrap: wrap;
}

.l-alphabet {
  border-right: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  &:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-left: 1px solid #d4d4d4;
  }
  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: 1px solid #d4d4d4;
  }
  &:hover {
      background: #f1f1f1;
  }
}

.l-striped-rows {
  border-bottom: 1px solid #DDD;
  &:nth-child(odd) {
    background: white;
  }
  &:nth-child(even) {
    background: #f1f1f1;
  }
}

.l-search-icon {
  position: absolute;
  right: 15px;
  top: calc(
    50% - 0.5em
  );
}

.l-search-input {
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}

.l-input-wrapper {
  position: relative;
}

.l-scrollable-area {
    overflow-y: scroll !important;
    max-height: calc(100vh - 323px);
    &::-webkit-scrollbar {
        display: none;
    }
}

.l-border-bottom {
        border-bottom: 1px solid #DDD;
}